@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.poll-card {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  background-color: rgba($color: $color-grey, $alpha: 0.08);
  @include accent-corner(5px, 50px);
  cursor: pointer;

  &__category {
    margin-bottom: 0.5rem;
    font-family: $font-body;
    font-weight: 500;
    color: $color-orange-light;
  }

  &__title {
    font-family: $font-body;
    font-weight: bold;
    color: $color-white-pure;
  }

  &__deadline {
    @include status-pill($color-orange-light, 3px 6px, 500);
    align-self: flex-end;
    margin-top: 1.5rem;
    font-size: 14px;
  }

  &:hover {
    background-color: rgba($color: $color-grey, $alpha: 0.16);
  }

  &.disabled {
    cursor: default;
    opacity: 0.7;
  }

  &--ending-soon {
    justify-content: space-between;
    background-color: $color-lavender;
    min-height: 230px;
    min-width: 250px;
    border-top-right-radius: 80px;
    padding: 1.5rem 1rem;

    .poll-card__category {
      font-family: $font-body;
      font-weight: 600;
      color: $color-plum;
    }

    .poll-card__title {
      font-family: $font-body;
      font-weight: bold;
      font-size: 1.5rem;
      color: $color-plum;
    }

    .poll-card__deadline {
      align-self: flex-start;
    }

    &:hover {
     background-color: $color-lavender-hover;
    }
  }
}
