.poll-card {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  background-color: rgba($color: #D9D9D9, $alpha: 0.08);
  border-radius: 5px;
  border-top-right-radius: 50px;
  cursor: pointer;

  &__category {
    margin-bottom: 0.5rem;
    font-family: 'Mulish';
    font-weight: 500;
    color: #FFCFA1;
  }

  &__title {
    font-family: 'Mulish';
    font-weight: bold;
    color: #FFFFFF;
  }

  &__deadline {
    align-self: flex-end;
    background-color: #FFCFA1;
    margin-top: 1.5rem;
    padding: 3px 6px;
    border-top-right-radius: 14px;
    font-family: 'Mulish';
    font-weight: 500;
    font-size: 14px;
    color: #221227;
  }

  &:hover {
    background-color: rgba($color: #D9D9D9, $alpha: 0.16);
  }

  &.disabled {
    cursor: default;
    opacity: 0.7;
  }

  &--ending-soon {
    justify-content: space-between;
    background-color: #FAF5FE;
    min-height: 230px;
    min-width: 250px;
    border-top-right-radius: 80px;
    padding: 1.5rem 1rem;

    .poll-card__category {
      font-family: 'Mulish';
      font-weight: 600;
      color: #35273A;
    }

    .poll-card__title {
      font-family: 'Mulish';
      font-weight: bold;
      font-size: 1.5rem;
      color: #35273A;
    }

    .poll-card__deadline {
      align-self: flex-start;
    }

    &:hover {
     background-color: #F4E9FB;
    }
  }
}